* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #131313;
    text-align: center;
}

.country-row{
    background-color: rgb(51, 51, 51);
    width: 60vhpx;
    height: 6vh;
    border-radius: 20px;
    margin: 1vh;
}

#countires-box{
    height: 70vh;
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row{
    padding-top: 5px;
    gap: 1vmin;
}

h1{
    color: blueviolet;
    size: 150px;
    padding-top: 5vh;
}


.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 50px;
    color: rgb(0, 122, 122);
    background-color: rgb(28, 1, 53);
}